<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgTqwBGSuJH3xk0SHvP-nW7rgk1pnh_SY</string>
	<key>GCM_SENDER_ID</key>
	<string>417831327586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auditCloudApp</string>
	<key>PROJECT_ID</key>
	<string>auditcloud-45700</string>
	<key>STORAGE_BUCKET</key>
	<string>auditcloud-45700.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417831327586:ios:675efb909851e90b2ebe3b</string>
</dict>
</plist>